section.download(data-section="download")
	.container
		.row.download__title
			.col-md-12
				h2.section-title Скачать
				p.section-discr Приложение для быстрого старта в интернете

		.row.download-wrap
			.col-md-4.col-sm-4.col-xs-4.download-item
				.download-logo.apple-logo
				a.download-link(href="#") Apple store

			.col-md-4.col-sm-4.col-xs-4.download-item
				.download-logo.google-logo
				a.download-link(href="#") Google store

			.col-md-4.col-sm-4.col-xs-4.download-item
				.download-logo.android-logo
				a.download-link(href="#") Android
				
