section.features(data-section="features")
	.container
		.row.features__title
			.col-md-12
				h2.section-title Преимущества
				p.section-discr Мы предлагаем полный спектр услуг по продвижению вашего продукта в интернете
				
		.row
			.col-md-4
				ul.features-list
					li.features-item.wow.fadeInLeft
						.features-title Изучение рынка
							i.fa.fa-search-plus
						.features-discr Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона. 
					li.features-item.wow.fadeInLeft
						.features-title Планирование проекта
							i.fa.fa-pencil-square-o
						.features-discr Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. 
					li.features-item.wow.fadeInLeft
						.features-title Разработка
							i.fa.fa-desktop
						.features-discr  Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
			
			.col-md-4.features-image.wow.fadeInUp
				img.img-responsive.img(src="img/ipad.jpg" all="ipad")

			.col-md-4
				ul.features-list
					li.features-item.wow.fadeInRight
						.features-title Тестирование
							i.fa.fa-gear
						.features-discr А также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации
					li.features-item.wow.fadeInRight
						.features-title Повышение конверсии
							i.fa.fa-line-chart
						.features-discr  Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию. 
					li.features-item.wow.fadeInRight
						.features-title Увеличение продаж
							i.fa.fa-money
						.features-discr Так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения.

	.features__explain-wrap
		.features__explain-bg
			.features__explain-content
				h2.section-title.light Почему это лучшее решение ?
				.features__explain-discr Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает, как много веб-страниц всё ещё дожидаются своего настоящего рождения. За прошедшие годы текст Lorem Ipsum получил много версий. Некоторые версии появились по ошибке, некоторые - намеренно (например, юмористические варианты).
				.features__explain-submit
					button Проверить
					button Запустить
