footer.footer
	.row.footer-wrap

		.col-md-6.col-sm-6.col-md-push-6.col-sm-push-6.footer-social-wrap
			.footer-social
				ul
					li
						a(href="#"): i.fa.fa-facebook
					li
						a(href="#"): i.fa.fa-twitter
					li
						a(href="#"): i.fa.fa-google-plus
					li
						a(href="#"): i.fa.fa-vk
					li
						a(href="#"): i.fa.fa-pinterest

		.col-md-6.col-sm-6.col-md-pull-6.col-sm-pull-6.footer-copy-wrap
			span Все права защищены &copy; 2015 Веб студия Flumine
