section.gallery(data-section="gallery")
	.container.gallery-wrap
		.row.gallery__title
			.col-md-12
				h2.section-title Портфолио
				p.section-discr Наши лучшие работы за этот год
		.row
			nav
				ul.gallery__nav-list
					li.filter.active.gallery__nav-item(data-filter="all") Все
					li.filter.gallery__nav-item(data-filter=".web-design") Веб дизайн
					li.filter.gallery__nav-item(data-filter=".mobile-design") Приложения
					li.filter.gallery__nav-item(data-filter=".illustrations") Разработка
		.row.gallery-content
			.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.web-design
				img(src="img/portfolio/work_01.jpg" alt="")
				.gallery-item--wrap
					a.gallery-item--link(href="#1")
						i.fa.fa-arrows-alt
					h3 Project title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.hidden
					#1.gallery-item--popup
						img.img-thumbnail(src="img/portfolio/work_01_tm.jpg")
							
			.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mobile-design
				img(src="img/portfolio/work_02.jpg" alt="")
				.gallery-item--wrap
					a.gallery-item--link(href="#2")
						i.fa.fa-arrows-alt
					h3 Project title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.hidden
					#2.gallery-item--popup
						img.img-thumbnail(src="img/portfolio/work_02_tm.jpg")

			.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.illustrations
				img(src="img/portfolio/work_03.jpg" alt="")
				.gallery-item--wrap
					a.gallery-item--link(href="#3")
						i.fa.fa-arrows-alt
					h3 Project title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.hidden
					#3.gallery-item--popup
						img.img-thumbnail(src="img/portfolio/work_03_tm.jpg")

			.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.illustrations
				img(src="img/portfolio/work_04.jpg" alt="")
				.gallery-item--wrap
					a.gallery-item--link(href="#4")
						i.fa.fa-arrows-alt
					h3 Project title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.hidden
					#4.gallery-item--popup
						img.img-thumbnail(src="img/portfolio/work_04_tm.jpg")
			.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.web-design
				img(src="img/portfolio/work_05.jpg" alt="")
				.gallery-item--wrap
					a.gallery-item--link(href="#5")
						i.fa.fa-arrows-alt
					h3 Project title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.hidden
					#5.gallery-item--popup
						img.img-thumbnail(src="img/portfolio/work_05_tm.jpg")
							
			.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.web-design
				img(src="img/portfolio/work_06.jpg" alt="")
				.gallery-item--wrap
					a.gallery-item--link(href="#6")
						i.fa.fa-arrows-alt
					h3 Project title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.hidden
					#6.gallery-item--popup
						img.img-thumbnail(src="img/portfolio/work_06_tm.jpg")

			.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.illustrations
				img(src="img/portfolio/work_07.jpg" alt="")
				.gallery-item--wrap
					a.gallery-item--link(href="#7")
						i.fa.fa-arrows-alt
					h3 Project title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.hidden
					#7.gallery-item--popup
						img.img-thumbnail(src="img/portfolio/work_07_tm.jpg")

			.col-md-3.col-sm-6.col-xs-12.gallery-item.mix.mobile-design
				img(src="img/portfolio/work_08.jpg" alt="")
				.gallery-item--wrap
					a.gallery-item--link(href="#8")
						i.fa.fa-arrows-alt
					h3 Project title
					p  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
				.hidden
					#8.gallery-item--popup
						img.img-thumbnail(src="img/portfolio/work_08_tm.jpg")

				
			