header(data-section="home")
	.wrap_grid
		ul.header__slider-list
			li.header__slider-item
				img(src="img/header_bg0.jpg")

		.header__content
			h1.wow.fadeInUp flumine
			span.header-date.wow.fadeInUp(data-wow-delay="0.5s") Фирменный стиль вашего бизнеса
			a.link-wrap.nav__item-link.wow.fadeInUp(data-wow-delay="1s", href="#features")
				span.link-title Подробнее
				i.fa.fa-angle-down

.menu-main_wrapper
	nav.main_menu-wrap.hidden-sm.hidden-xs
		ul.nav__list
			li.nav__item
				a.nav__item-link.active(href="#features") Преимущества
			li.nav__item
				a.nav__item-link(href="#gallery") Портфолио
			li.nav__item
				a.nav__item-link(href="#pricing") Цены
			li.nav__item
				a.nav__item-link(href="#services") Специализации
			li.nav__item
				a.nav__item-link(href="#team") Команда	
			li.nav__item
				a.nav__item-link(href="#download") Скачать
			li.nav__item
				a.nav__item-link(href="#contact") Контакты

.toogle_menu-wrap
	.button_toogle-wrap.hidden-md.hidden-lg
		button.toogle_menu
			span.sandwich
				span.sw-topper
				span.sw-bottom
				span.sw-footer

	nav.toogle_list-wrap
		ul.nav__list
			li.nav__item.active
				a.nav__item-link(href="#features") Преимущества
			li.nav__item
				a.nav__item-link(href="#gallery") Портфолио
			li.nav__item
				a.nav__item-link(href="#pricing") Цены
			li.nav__item
				a.nav__item-link(href="#services") Специализации
			li.nav__item
				a.nav__item-link(href="#team") Команда	
			li.nav__item
				a.nav__item-link(href="#download") Скачать	
			li.nav__item
				a.nav__item-link(href="#contact") Контакты	
		