section.pricing(data-section="pricing")
	.container
		.row.pricing__title
			.col-md-12
				h2.section-title Наши цены
				p.section-discr  Выберите подходящий вам тариф
		
		.row.pricing-wrap
			.col-md-4
				.pricing-item.wow.slideInLeft(data-wow-duration="1s")
					h4.pricing-title Старт
					.pricing-price 19<span>900</span> <span>руб</span>
					ul
						li Изучение ниши
						li Создание индивидуального дизайна
						li Веб разработка
					button Заказать
			.col-md-4
				.pricing-item.wow.slideInUp(data-wow-duration="1s")
					h4.pricing-title Комфорт
					.pricing-price 29<span>900</span> <span>руб</span>
					ul
						li Изучение ниши
						li Создание индивидуального дизайна
						li Веб разработка
					button Заказать
			.col-md-4
				.pricing-item.wow.slideInRight(data-wow-duration="1s")
					h4.pricing-title Премиум
					.pricing-price 49<span>900</span> <span>руб</span>
					ul
						li Изучение ниши
						li Создание индивидуального дизайна
						li Веб разработка
					button Заказать
