section.services(data-section="services")
	.services-bg
		.container
			.row.services__title
				.col-md-12
					h2.section-title.light Специализации

			.row.services-wrap
				.col-md-3.col-sm-6.col-xs-12.services-item
					.services-icon.wow.flipInY(data-wow-duration="1s")
						i.fa.fa-desktop
					h3.services-title Индивидуальный дизайн
					.services-discr  Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации 
				
				.col-md-3.col-sm-6.col-xs-12.services-item
					.services-icon.wow.flipInY(data-wow-duration="1s")
						i.fa.fa-cogs
					h3.services-title Веб разработка
					.services-discr  Например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. 
				
				.col-md-3.col-sm-6.col-xs-12.services-item
					.services-icon.wow.flipInY(data-wow-duration="1s")
						i.fa.fa-bar-chart
					h3.services-title SEO оптимизация
					.services-discr  Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. 
				
				.col-md-3.col-sm-6.col-xs-12.services-item
					.services-icon.wow.flipInY(data-wow-duration="1s")
						i.fa.fa-pencil-square-o
					h3.services-title Копирайтинг
					.services-discr  Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют. 
