section.team(data-section="team")
	.container
		.row.team__title
			.col-md-12
				h2.section-title Команда
				p.section-discr  С вами будут работать

		.row.team-wrap
			.team__slider-wrap
				.col-md-3.col-sm-4.col-xs-6.team__slider-item
					.team__slider-img
						img.img-responsive(src="img/team/team05.jpg", alt="team")
						.team__slider-title
							.team-name Петр Самойлов
							.team-status Креативный директор
						.team__slider-hover
							.team__slider-hover--wrap
								a(href="http:/facebook.com"): i.fa.fa-facebook
								a(href="http:/pinterest.com"): i.fa.fa-pinterest
								a(href="http:/twitter.com"): i.fa.fa-twitter
								a(href="http:/plus.goolgle.com"): i.fa.fa-google-plus
					
				.col-md-3.col-sm-4.col-xs-6.team__slider-item
					.team__slider-img
						img.img-responsive(src="img/team/team02.jpg", alt="team")
						.team__slider-title
							.team-name Сергей Усманский
							.team-status Веб аналитик
						.team__slider-hover
							.team__slider-hover--wrap
								a(href="http:/facebook.com"): i.fa.fa-facebook
								a(href="http:/pinterest.com"): i.fa.fa-pinterest
								a(href="http:/twitter.com"): i.fa.fa-twitter
								a(href="http:/plus.goolgle.com"): i.fa.fa-google-plus
									
				.col-md-3.col-sm-4.col-xs-6.team__slider-item
					.team__slider-img
						img.img-responsive(src="img/team/team03.jpg", alt="team")
						.team__slider-title
							.team-name Александр Федосевич
							.team-status Руководитель проектов
						.team__slider-hover
							.team__slider-hover--wrap
								a(href="http:/vk.com"): i.fa.fa-facebook
								a(href="http:/vk.com"): i.fa.fa-pinterest
								a(href="http:/vk.com"): i.fa.fa-twitter
								a(href="http:/vk.com"): i.fa.fa-google-plus
					
				.col-md-3.col-sm-4.col-xs-6.team__slider-item
					.team__slider-img
						img.img-responsive(src="img/team/team04.jpg", alt="team")
						.team__slider-title
							.team-name Ульяна Покровская
							.team-status Дизайнер
						.team__slider-hover
							.team__slider-hover--wrap
								a(href="http:/vk.com"): i.fa.fa-facebook
								a(href="http:/vk.com"): i.fa.fa-pinterest
								a(href="http:/vk.com"): i.fa.fa-twitter
								a(href="http:/vk.com"): i.fa.fa-google-plus
					
				.col-md-3.col-sm-4.col-xs-6.team__slider-item
					.team__slider-img
						img.img-responsive(src="img/team/team01.jpg", alt="team")
						.team__slider-title
							.team-name Тимур Овсянский
							.team-status Программист
						.team__slider-hover
							.team__slider-hover--wrap
								a(href="http:/vk.com"): i.fa.fa-facebook
								a(href="http:/vk.com"): i.fa.fa-pinterest
								a(href="http:/vk.com"): i.fa.fa-twitter
								a(href="http:/vk.com"): i.fa.fa-google-plus
				.col-md-3.col-sm-4.col-xs-6.team__slider-item
					.team__slider-img
						img.img-responsive(src="img/team/team06.jpg", alt="team")
						.team__slider-title
							.team-name Ксения Ставрович
							.team-status Сео специалист
						.team__slider-hover
							.team__slider-hover--wrap
								a(href="http:/vk.com"): i.fa.fa-facebook
								a(href="http:/vk.com"): i.fa.fa-pinterest
								a(href="http:/vk.com"): i.fa.fa-twitter
								a(href="http:/vk.com"): i.fa.fa-google-plus
				.col-md-3.col-sm-4.col-xs-6.team__slider-item
					.team__slider-img
						img.img-responsive(src="img/team/team07.jpg", alt="team")
						.team__slider-title
							.team-name Станисав Русаков
							.team-status Веб разработчик
						.team__slider-hover
							.team__slider-hover--wrap
								a(href="http:/vk.com"): i.fa.fa-facebook
								a(href="http:/vk.com"): i.fa.fa-pinterest
								a(href="http:/vk.com"): i.fa.fa-twitter
								a(href="http:/vk.com"): i.fa.fa-google-plus
			.ctr-wrap.hidden-xs

